<p>maps works!</p>
 <!-- <google-map [center]="center" [zoom]="20" width="100%" height="75vh" >
                    (zoomChanged)="onZoomChanged()" -->
                    <!-- <map-marker *ngFor="let berth of allBerths" [position]="{ lat: berth.Latitude, lng: berth.Longitude }"
                [icon]="getMarkerIcon(berth)" (mapClick)="onMarkerClick(berth)"
                [title]="'Berth ID: ' + `${berth.Berth} ${berth.ContractStartDate | date:'MMM d yyyy'} ${berth.ContractEndDate | date:'MMM d yyyy'}`">
            </map-marker> 
                </google-map> -->

            <div id="map"  style="width: 100%; height: 75vh;"></div>